header{
    width: 100%;
    height: 100px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(57,174,206,1);
    color: white;
}

.LogoMain{
    width: 15%;
    margin: 0 25px 0 25px;
    z-index: 10;
}

.LogoMain figure{
    width: 100%;
    height: 100%;
}

.LogoMain figure img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition-duration: 0.4s;
}

.LogoMain figure img:hover{
    -webkit-filter: drop-shadow(1px 1px 8px rgba(0,0,0,0.9));
    -o-filter: drop-shadow(1px 1px 8px rgba(0,0,0,0.9));
    filter: drop-shadow(1px 1px 8px rgba(0,0,0,0.9));
}

.Clima{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 27%;
    height: 50%;
    cursor: default;
    transition-duration: 0.2s;
}

.Clima:hover{
    color: #BDE235;
}

/*.Clima:hover, .Clima figure img{
   -webkit-filter: drop-shadow(1px 1px 8px rgba(0,0,0,0.9));
   -o-filter: drop-shadow(1px 1px 8px rgba(0,0,0,0.9));
   filter: drop-shadow(1px 1px 8px rgba(0,0,0,0.9));
}*/

.Clima h3{
    font-size: 30px;
    line-height: 70px;
    color: #BDE235;
    -webkit-filter: drop-shadow(1px 1px 10px rgba(0,0,0,1));
    -o-filter: drop-shadow(1px 1px 10px rgba(0,0,0,1));
    filter: drop-shadow(1px 1px 10px rgba(0,0,0,1));
}

.Clima figure{
    height: 130%;
    -webkit-filter: drop-shadow(1px 1px 10px rgba(0,0,0,1));
    -o-filter: drop-shadow(1px 1px 10px rgba(0,0,0,1));
    filter: drop-shadow(1px 1px 10px rgba(0,0,0,1));
}

.Clima figure img{
    width: 5+200%;
    height: 100%;
}

.Luces{
    width: 27%;
    height: 50%;
    display: flex;
    align-items: center;
    transition-duration: 0.2s;
    cursor: pointer;
}

.Luces:hover{
    color: #BDE235;
}

.Luces:hover, .Luces figure img{
    -webkit-filter: drop-shadow(1px 1px 8px rgba(0,0,0,0.9));
    -o-filter: drop-shadow(1px 1px 8px rgba(0,0,0,0.9));
    filter: drop-shadow(1px 1px 8px rgba(0,0,0,0.9));
}

.Luces h3{
    font-size: 30px;
}

.Luces figure{
    width: 50px;
    height: 100%;

}

.Luces figure img{
    width: 100%;
}

/*************************************************+Contenido*****************************/
.contenido{
    width: 100%;
    height: auto;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}

.clima{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.clima_actual{
    width: 43%;
    padding: 8px;
    border-radius: 10px;
    margin: auto 12px 12px 0;
    background: #BED4E6;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.8);
}

.clima_actual h3,h4{
    text-shadow: 0px 0px 5px snow;
}

.datosC{
    display: flex;
    border-bottom: 1px solid black;
}

.datosC i{
    display: flex;
    justify-content: center;
    margin: -15px 15px 5px auto;
    font-size: 60px;
    text-shadow: 1px 1px white;
}

#chart_div{
    -webkit-filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.6));
    -o-filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.6));
    filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.6));
}



/******************************+Mapa***********************************/
.infoMapa{
    width: 49%;
    height: 30pc;
    margin: 10px 0 0 0;
    position: relative;
}

.mensaje{
    width: 66%;
    height: 0%;
    z-index: 10;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    color: skyblue;
    padding: 5px;
    border-radius: 10px 0 0 0;
    transition-duration: 0.6s;
}

.texto{
    font-size: 20px;
}

.mapa{
    width: 100%;
    z-index: 5;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}

/**********************************************Graficas******************************************/
.graficas{
    width: 100%;
    height: 50pc;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

#datosC{
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
}

#datosH{
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
}

#predicciones{
    width: 70%;
    height: 50%;
}

.actualizaciones{
    width: 30%;
    height: 50%;
}