/*Colores
    *Azul: #BED4E6
    *Verde: #88A02E
*/

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Century Gothic';
}

body{
    background-color: rgba(245,245,245,0.5);
}

button{
    border: none;
    padding: 5px;
    color: white;
    cursor: pointer;
    z-index: 10;
    outline: none;
    box-shadow: 0px 0px 15px black;
    transition-duration: 0.7s;
    
}

button:hover{
    border: dashed 1px black;
    box-shadow: 0px 0px 0px black;
}

button:active{
    cursor: pointer;
    border: dashed 0px black;
    box-shadow: inset 1px 1px 15px black;
}

footer{
    width: 100%;
    padding: 5px;
    bottom: 0;
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: #88A02E;
    margin-top: 10px;
}

/*iframe{
    display: none;
    visibility: hidden;
}*/

.iot{
    font-family: "iot";
}